# DataTypes

### 1. Definition:
Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.


### 2. Importance of Data Types in Programming
Explanation:

Data types ensure that data is stored in an efficient way.
They help in performing correct operations on data.
Proper use of data types can prevent errors and bugs in the program.

In [3]:
# Integers Example
age = 25
print(f"Age: {age}, Type: {type(age)}")  # Output: Age: 25, Type: <class 'int'>

Age: 25, Type: <class 'int'>

In [5]:
# Strings Example
name = 'Sai'
print(f"Name: {name}, Type: {type(name)}")  # Output: Name: Sai, Type: <class 'str'>

Name: Sai, Type: <class 'str'>

In [10]:
# Booleans Example
is_student = True
is_employed = False
print(bool())  # Default constructor for boolean type - default is False
print(f"is_student: {is_student}, Type: {type(is_student)}")  # Output: is_student: True, Type: <class 'bool'>
print(f"is_employed: {is_employed}, Type: {type(is_employed)}")  # Output: is_employed: False, Type: <class 'bool'>

a = 10
b = 20
type_comparison = (type(a) == type(b))
print(f"Type Comparison of a and b: {type_comparison}")  # Output: Type Comparison of a and b: True

False
is_student: True, Type: <class 'bool'>
is_employed: False, Type: <class 'bool'>
Type Comparison of a and b: True

In [15]:
# Common Errors
result =  '20' + 10  # This will raise a TypeError
# returned Error: TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [14]:
# Correct way to concatenate string and integer
result = '20' + str(10)
print(f"Concatenated Result: {result}")  # Output: Concatenated Result

Concatenated Result: 2010